Prac5/WPFConsole/Service References/StoreService/ServiceStore.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceStore" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Storelib/ServiceStore/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Storelib/ServiceStore/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Storelib/ServiceStore/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Storelib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceStore_startup_InputMessage">
    <wsdl:part name="parameters" element="tns:startup" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_startup_OutputMessage">
    <wsdl:part name="parameters" element="tns:startupResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_signup_InputMessage">
    <wsdl:part name="parameters" element="tns:signup" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_signup_OutputMessage">
    <wsdl:part name="parameters" element="tns:signupResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_buyProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:buyProduct" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_buyProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:buyProductResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getAmountStore_InputMessage">
    <wsdl:part name="parameters" element="tns:getAmountStore" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getAmountStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAmountStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getProductListStore_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductListStore" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getProductListStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductListStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getProductListPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductListPerson" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getProductListPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductListPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getSaldoPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:getSaldoPerson" />
  </wsdl:message>
  <wsdl:message name="IServiceStore_getSaldoPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSaldoPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceStore">
    <wsdl:operation name="startup">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/startup" message="tns:IServiceStore_startup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/startupResponse" message="tns:IServiceStore_startup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/login" message="tns:IServiceStore_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/loginResponse" message="tns:IServiceStore_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="signup">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/signup" message="tns:IServiceStore_signup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/signupResponse" message="tns:IServiceStore_signup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buyProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/buyProduct" message="tns:IServiceStore_buyProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/buyProductResponse" message="tns:IServiceStore_buyProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAmountStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getAmountStore" message="tns:IServiceStore_getAmountStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getAmountStoreResponse" message="tns:IServiceStore_getAmountStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getProduct" message="tns:IServiceStore_getProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getProductResponse" message="tns:IServiceStore_getProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductListStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getProductListStore" message="tns:IServiceStore_getProductListStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getProductListStoreResponse" message="tns:IServiceStore_getProductListStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductListPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getProductListPerson" message="tns:IServiceStore_getProductListPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getProductListPersonResponse" message="tns:IServiceStore_getProductListPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSaldoPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStore/getSaldoPerson" message="tns:IServiceStore_getSaldoPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStore/getSaldoPersonResponse" message="tns:IServiceStore_getSaldoPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceStore" type="tns:IServiceStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="startup">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/startup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signup">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/signup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buyProduct">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/buyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAmountStore">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/getAmountStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductListStore">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/getProductListStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductListPerson">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/getProductListPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSaldoPerson">
      <soap:operation soapAction="http://tempuri.org/IServiceStore/getSaldoPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStore">
    <wsdl:port name="BasicHttpBinding_IServiceStore" binding="tns:BasicHttpBinding_IServiceStore">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/Storelib/ServiceStore/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>